##### ML Terms

*   Dependent/Target Variables
*   Independent Variables
*   Regression Problems - Deals with continuos Variables
*   Classification Problems - Classifying the output (generally binary classification)
*   Weighted mean
*   ML Workflow
*   Data Load
*   EDA -
*   Identify and handle the missing values
*   Identify the target and independent variables
*   encoding the data
*   Standardizing the data

##### Scenarion Of an engeeniering exam
-   Physics(2) , Math (3) , History(1)

In [1]:
import pandas as pd

In [14]:
score = pd.DataFrame(data = [['x',5,125,'opener'],['x',2,200,'middle-order'],['x',1,300,'tail-ender']],
columns= ['name','weight','score','position'])

In [15]:
score.head()

  name  weight  score      position
0    x       5    125        opener
1    x       2    200  middle-order
2    x       1    300    tail-ender

In [17]:
score['score'].mean()

208.33333333333334

In [18]:
summation = sum(score['weight']*score['score'])
print(summation)

1325

In [19]:
w_sum = sum(score['weight'])
print(w_sum)

8

In [20]:
w_mean = summation/w_sum
print(w_mean)

165.625

In [21]:
df = pd.DataFrame({'team':['A','A','B','B','B','B','C','C'],
                   'points':[25,12,15,14,19,23,25,29]})

In [23]:
df.head(7)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25

In [4]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({'team':['A','A','B','B','B','B','C','C'],
                   'points':[25,12,15,14,19,23,25,29]})

In [7]:
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

In [8]:
final_df = df.join(encoder_df)

In [10]:
final_df.head(8)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

In [11]:
final_df.drop('team',axis = 1, inplace = True)

In [12]:
final_df.columns = ['points', 'teamA' , 'teamB' , 'teamC']

In [13]:
final_df.head()

   points  teamA  teamB  teamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0