#### House Rent Data

1.  High
3.  Low

high , low

high = 1
low = 0

1.  Label Encoding
2.  One-Hot Encoding

In [74]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [75]:
iris = pd.read_csv('iris.csv')

In [76]:
iris.tail(20)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [77]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [78]:
label_encoder = LabelEncoder()

In [79]:
print(label_encoder)

LabelEncoder()

In [80]:
iris['Species'] = label_encoder.fit_transform(iris['Species'])

In [81]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [82]:
iris['Species'].unique()

array([0, 1, 2])

#### One Hot Encoder

In [83]:
import numpy
from sklearn.preprocessing import OneHotEncoder

In [84]:
df = pd.DataFrame({'team':['A','A','B','B','B','B','C','C'],
                   'points': [25,12,26,74,19,56,29,35]})

In [85]:
df.head()

  team  points
0    A      25
1    A      12
2    B      26
3    B      74
4    B      19

In [86]:
oh = OneHotEncoder()

In [87]:
oh_df = pd.DataFrame(oh.fit_transform(df[['team']]).toarray())

In [88]:
oh_df.head()

     0    1    2
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  1.0  0.0

In [89]:
df1 = df.join(oh_df)

In [90]:
df1.head()

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      26  0.0  1.0  0.0
3    B      74  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0

In [91]:
df1.drop('team',axis=1,inplace = True)

In [92]:
df1.head()

   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      26  0.0  1.0  0.0
3      74  0.0  1.0  0.0
4      19  0.0  1.0  0.0

In [93]:
df1.columns = ['points','TeamA','TeamB','TeamC']

In [94]:
df1.head()

   points  TeamA  TeamB  TeamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      26    0.0    1.0    0.0
3      74    0.0    1.0    0.0
4      19    0.0    1.0    0.0

#### Linear Regression Implementation

In [95]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets , linear_model

In [96]:
diabetes = datasets.load_diabetes()

In [97]:
print(diabetes.keys())

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [98]:
print(diabetes.data)

[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990749
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06833155
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286131
  -0.02593034]
 ...
 [ 0.04170844  0.05068012 -0.01590626 ... -0.01107952 -0.04688253
   0.01549073]
 [-0.04547248 -0.04464164  0.03906215 ...  0.02655962  0.04452873
  -0.02593034]
 [-0.04547248 -0.04464164 -0.0730303  ... -0.03949338 -0.00422151
   0.00306441]]

In [99]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [100]:
print(diabetes.feature_names)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [101]:
print(diabetes.target)

[151.  75. 141. 206. 135.  97. 138.  63. 110. 310. 101.  69. 179. 185.
 118. 171. 166. 144.  97. 168.  68.  49.  68. 245. 184. 202. 137.  85.
 131. 283. 129.  59. 341.  87.  65. 102. 265. 276. 252.  90. 100.  55.
  61.  92. 259.  53. 190. 142.  75. 142. 155. 225.  59. 104. 182. 128.
  52.  37. 170. 170.  61. 144.  52. 128.  71. 163. 150.  97. 160. 178.
  48. 270. 202. 111.  85.  42. 170. 200. 252. 113. 143.  51.  52. 210.
  65. 141.  55. 134.  42. 111.  98. 164.  48.  96.  90. 162. 150. 279.
  92.  83. 128. 102. 302. 198.  95.  53. 134. 144. 232.  81. 104.  59.
 246. 297. 258. 229. 275. 281. 179. 200. 200. 173. 180.  84. 121. 161.
  99. 109. 115. 268. 274. 158. 107.  83. 103. 272.  85. 280. 336. 281.
 118. 317. 235.  60. 174. 259. 178. 128.  96. 126. 288.  88. 292.  71.
 197. 186.  25.  84.  96. 195.  53. 217. 172. 131. 214.  59.  70. 220.
 268. 152.  47.  74. 295. 101. 151. 127. 237. 225.  81. 151. 107.  64.
 138. 185. 265. 101. 137. 143. 141.  79. 292. 178.  91. 116.  86. 122.
  72. 129. 142.  90. 158.  39. 196. 222. 277.  99. 196. 202. 155.  77.
 191.  70.  73.  49.  65. 263. 248. 296. 214. 185.  78.  93. 252. 150.
  77. 208.  77. 108. 160.  53. 220. 154. 259.  90. 246. 124.  67.  72.
 257. 262. 275. 177.  71.  47. 187. 125.  78.  51. 258. 215. 303. 243.
  91. 150. 310. 153. 346.  63.  89.  50.  39. 103. 308. 116. 145.  74.
  45. 115. 264.  87. 202. 127. 182. 241.  66.  94. 283.  64. 102. 200.
 265.  94. 230. 181. 156. 233.  60. 219.  80.  68. 332. 248.  84. 200.
  55.  85.  89.  31. 129.  83. 275.  65. 198. 236. 253. 124.  44. 172.
 114. 142. 109. 180. 144. 163. 147.  97. 220. 190. 109. 191. 122. 230.
 242. 248. 249. 192. 131. 237.  78. 135. 244. 199. 270. 164.  72.  96.
 306.  91. 214.  95. 216. 263. 178. 113. 200. 139. 139.  88. 148.  88.
 243.  71.  77. 109. 272.  60.  54. 221.  90. 311. 281. 182. 321.  58.
 262. 206. 233. 242. 123. 167.  63. 197.  71. 168. 140. 217. 121. 235.
 245.  40.  52. 104. 132.  88.  69. 219.  72. 201. 110.  51. 277.  63.
 118.  69. 273. 258.  43. 198. 242. 232. 175.  93. 168. 275. 293. 281.
  72. 140. 189. 181. 209. 136. 261. 113. 131. 174. 257.  55.  84.  42.
 146. 212. 233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.
  49.  64.  48. 178. 104. 132. 220.  57.]

In [102]:
diabetes_x = diabetes.data[:,np.newaxis,2]

In [103]:
print(diabetes_x)

[[ 0.06169621]
 [-0.05147406]
 [ 0.04445121]
 [-0.01159501]
 [-0.03638469]
 [-0.04069594]
 [-0.04716281]
 [-0.00189471]
 [ 0.06169621]
 [ 0.03906215]
 [-0.08380842]
 [ 0.01750591]
 [-0.02884001]
 [-0.00189471]
 [-0.02560657]
 [-0.01806189]
 [ 0.04229559]
 [ 0.01211685]
 [-0.0105172 ]
 [-0.01806189]
 [-0.05686312]
 [-0.02237314]
 [-0.00405033]
 [ 0.06061839]
 [ 0.03582872]
 [-0.01267283]
 [-0.07734155]
 [ 0.05954058]
 [-0.02129532]
 [-0.00620595]
 [ 0.04445121]
 [-0.06548562]
 [ 0.12528712]
 [-0.05039625]
 [-0.06332999]
 [-0.03099563]
 [ 0.02289497]
 [ 0.01103904]
 [ 0.07139652]
 [ 0.01427248]
 [-0.00836158]
 [-0.06764124]
 [-0.0105172 ]
 [-0.02345095]
 [ 0.06816308]
 [-0.03530688]
 [-0.01159501]
 [-0.0730303 ]
 [-0.04177375]
 [ 0.01427248]
 [-0.00728377]
 [ 0.0164281 ]
 [-0.00943939]
 [-0.01590626]
 [ 0.0250506 ]
 [-0.04931844]
 [ 0.04121778]
 [-0.06332999]
 [-0.06440781]
 [-0.02560657]
 [-0.00405033]
 [ 0.00457217]
 [-0.00728377]
 [-0.0374625 ]
 [-0.02560657]
 [-0.02452876]
 [-0.01806189]
 [-0.01482845]
 [-0.02991782]
 [-0.046085  ]
 [-0.06979687]
 [ 0.03367309]
 [-0.00405033]
 [-0.02021751]
 [ 0.00241654]
 [-0.03099563]
 [ 0.02828403]
 [-0.03638469]
 [-0.05794093]
 [-0.0374625 ]
 [ 0.01211685]
 [-0.02237314]
 [-0.03530688]
 [ 0.00996123]
 [-0.03961813]
 [ 0.07139652]
 [-0.07518593]
 [-0.00620595]
 [-0.04069594]
 [-0.04824063]
 [-0.02560657]
 [ 0.0519959 ]
 [ 0.00457217]
 [-0.06440781]
 [-0.01698407]
 [-0.05794093]
 [ 0.00996123]
 [ 0.08864151]
 [-0.00512814]
 [-0.06440781]
 [ 0.01750591]
 [-0.04500719]
 [ 0.02828403]
 [ 0.04121778]
 [ 0.06492964]
 [-0.03207344]
 [-0.07626374]
 [ 0.04984027]
 [ 0.04552903]
 [-0.00943939]
 [-0.03207344]
 [ 0.00457217]
 [ 0.02073935]
 [ 0.01427248]
 [ 0.11019775]
 [ 0.00133873]
 [ 0.05846277]
 [-0.02129532]
 [-0.0105172 ]
 [-0.04716281]
 [ 0.00457217]
 [ 0.01750591]
 [ 0.08109682]
 [ 0.0347509 ]
 [ 0.02397278]
 [-0.00836158]
 [-0.06117437]
 [-0.00189471]
 [-0.06225218]
 [ 0.0164281 ]
 [ 0.09618619]
 [-0.06979687]
 [-0.02129532]
 [-0.05362969]
 [ 0.0433734 ]
 [ 0.05630715]
 [-0.0816528 ]
 [ 0.04984027]
 [ 0.11127556]
 [ 0.06169621]
 [ 0.01427248]
 [ 0.04768465]
 [ 0.01211685]
 [ 0.00564998]
 [ 0.04660684]
 [ 0.12852056]
 [ 0.05954058]
 [ 0.09295276]
 [ 0.01535029]
 [-0.00512814]
 [ 0.0703187 ]
 [-0.00405033]
 [-0.00081689]
 [-0.04392938]
 [ 0.02073935]
 [ 0.06061839]
 [-0.0105172 ]
 [-0.03315126]
 [-0.06548562]
 [ 0.0433734 ]
 [-0.06225218]
 [ 0.06385183]
 [ 0.03043966]
 [ 0.07247433]
 [-0.0191397 ]
 [-0.06656343]
 [-0.06009656]
 [ 0.06924089]
 [ 0.05954058]
 [-0.02668438]
 [-0.02021751]
 [-0.046085  ]
 [ 0.07139652]
 [-0.07949718]
 [ 0.00996123]
 [-0.03854032]
 [ 0.01966154]
 [ 0.02720622]
 [-0.00836158]
 [-0.01590626]
 [ 0.00457217]
 [-0.04285156]
 [ 0.00564998]
 [-0.03530688]
 [ 0.02397278]
 [-0.01806189]
 [ 0.04229559]
 [-0.0547075 ]
 [-0.00297252]
 [-0.06656343]
 [-0.01267283]
 [-0.04177375]
 [-0.03099563]
 [-0.00512814]
 [-0.05901875]
 [ 0.0250506 ]
 [-0.046085  ]
 [ 0.00349435]
 [ 0.05415152]
 [-0.04500719]
 [-0.05794093]
 [-0.05578531]
 [ 0.00133873]
 [ 0.03043966]
 [ 0.00672779]
 [ 0.04660684]
 [ 0.02612841]
 [ 0.04552903]
 [ 0.04013997]
 [-0.01806189]
 [ 0.01427248]
 [ 0.03690653]
 [ 0.00349435]
 [-0.07087468]
 [-0.03315126]
 [ 0.09403057]
 [ 0.03582872]
 [ 0.03151747]
 [-0.06548562]
 [-0.04177375]
 [-0.03961813]
 [-0.03854032]
 [-0.02560657]
 [-0.02345095]
 [-0.06656343]
 [ 0.03259528]
 [-0.046085  ]
 [-0.02991782]
 [-0.01267283]
 [-0.01590626]
 [ 0.07139652]
 [-0.03099563]
 [ 0.00026092]
 [ 0.03690653]
 [ 0.03906215]
 [-0.01482845]
 [ 0.00672779]
 [-0.06871905]
 [-0.00943939]
 [ 0.01966154]
 [ 0.07462995]
 [-0.00836158]
 [-0.02345095]
 [-0.046085  ]
 [ 0.05415152]
 [-0.03530688]
 [-0.03207344]
 [-0.0816528 ]
 [ 0.04768465]
 [ 0.06061839]
 [ 0.05630715]
 [ 0.09834182]
 [ 0.05954058]
 [ 0.03367309]
 [ 0.05630715]
 [-0.06548562]
 [ 0.16085492]
 [-0.05578531]
 [-0.02452876]
 [-0.03638469]
 [-0.00836158]
 [-0.04177375]
 [ 0.12744274]
 [-0.07734155]
 [ 0.02828403]
 [-0.02560657]
 [-0.06225218]
 [-0.00081689]
 [ 0.08864151]
 [-0.03207344]
 [ 0.03043966]
 [ 0.00888341]
 [ 0.00672779]
 [-0.02021751]
 [-0.02452876]
 [-0.01159501]
 [ 0.02612841]
 [-0.05901875]
 [-0.03638469]
 [-0.02452876]
 [ 0.01858372]
 [-0.0902753 ]
 [-0.00512814]
 [-0.05255187]
 [-0.02237314]
 [-0.02021751]
 [-0.0547075 ]
 [-0.00620595]
 [-0.01698407]
 [ 0.05522933]
 [ 0.07678558]
 [ 0.01858372]
 [-0.02237314]
 [ 0.09295276]
 [-0.03099563]
 [ 0.03906215]
 [-0.06117437]
 [-0.00836158]
 [-0.0374625 ]
 [-0.01375064]
 [ 0.07355214]
 [-0.02452876]
 [ 0.03367309]
 [ 0.0347509 ]
 [-0.03854032]
 [-0.03961813]
 [-0.00189471]
 [-0.03099563]
 [-0.046085  ]
 [ 0.00133873]
 [ 0.06492964]
 [ 0.04013997]
 [-0.02345095]
 [ 0.05307371]
 [ 0.04013997]
 [-0.02021751]
 [ 0.01427248]
 [-0.03422907]
 [ 0.00672779]
 [ 0.00457217]
 [ 0.03043966]
 [ 0.0519959 ]
 [ 0.06169621]
 [-0.00728377]
 [ 0.00564998]
 [ 0.05415152]
 [-0.00836158]
 [ 0.114509  ]
 [ 0.06708527]
 [-0.05578531]
 [ 0.03043966]
 [-0.02560657]
 [ 0.10480869]
 [-0.00620595]
 [-0.04716281]
 [-0.04824063]
 [ 0.08540807]
 [-0.01267283]
 [-0.03315126]
 [-0.00728377]
 [-0.01375064]
 [ 0.05954058]
 [ 0.02181716]
 [ 0.01858372]
 [-0.01159501]
 [-0.00297252]
 [ 0.01750591]
 [-0.02991782]
 [-0.02021751]
 [-0.05794093]
 [ 0.06061839]
 [-0.04069594]
 [-0.07195249]
 [-0.05578531]
 [ 0.04552903]
 [-0.00943939]
 [-0.03315126]
 [ 0.04984027]
 [-0.08488624]
 [ 0.00564998]
 [ 0.02073935]
 [-0.00728377]
 [ 0.10480869]
 [-0.02452876]
 [-0.00620595]
 [-0.03854032]
 [ 0.13714305]
 [ 0.17055523]
 [ 0.00241654]
 [ 0.03798434]
 [-0.05794093]
 [-0.00943939]
 [-0.02345095]
 [-0.0105172 ]
 [-0.03422907]
 [-0.00297252]
 [ 0.06816308]
 [ 0.00996123]
 [ 0.00241654]
 [-0.03854032]
 [ 0.02612841]
 [-0.08919748]
 [ 0.06061839]
 [-0.02884001]
 [-0.02991782]
 [-0.0191397 ]
 [-0.04069594]
 [ 0.01535029]
 [-0.02452876]
 [ 0.00133873]
 [ 0.06924089]
 [-0.06979687]
 [-0.02991782]
 [-0.046085  ]
 [ 0.01858372]
 [ 0.00133873]
 [-0.03099563]
 [-0.00405033]
 [ 0.01535029]
 [ 0.02289497]
 [ 0.04552903]
 [-0.04500719]
 [-0.03315126]
 [ 0.097264  ]
 [ 0.05415152]
 [ 0.12313149]
 [-0.08057499]
 [ 0.09295276]
 [-0.05039625]
 [-0.01159501]
 [-0.0277622 ]
 [ 0.05846277]
 [ 0.08540807]
 [-0.00081689]
 [ 0.00672779]
 [ 0.00888341]
 [ 0.08001901]
 [ 0.07139652]
 [-0.02452876]
 [-0.0547075 ]
 [-0.03638469]
 [ 0.0164281 ]
 [ 0.07786339]
 [-0.03961813]
 [ 0.01103904]
 [-0.04069594]
 [-0.03422907]
 [ 0.00564998]
 [ 0.08864151]
 [-0.03315126]
 [-0.05686312]
 [-0.03099563]
 [ 0.05522933]
 [-0.06009656]
 [ 0.00133873]
 [-0.02345095]
 [-0.07410811]
 [ 0.01966154]
 [-0.01590626]
 [-0.01590626]
 [ 0.03906215]
 [-0.0730303 ]]

In [104]:
print(len(diabetes_x))

442

In [105]:
print(diabetes_x.shape)

(442, 1)

In [106]:
diabetes_x_train = diabetes_x[:-20]
diabetes_x_test = diabetes_x[-20:]
diabetes_x_train.shape
diabetes_x_test.shape

(20, 1)

In [107]:
diabetes_y_train = diabetes.target[:-20]
diabetes_y_test = diabetes.target[-20:]
diabetes_y_train.shape
diabetes_y_test.shape

(20,)

In [108]:
lr_model = linear_model.LinearRegression()

In [109]:
lr_model.fit(diabetes_x_train,diabetes_y_train)

LinearRegression()

In [111]:
lr_model.score(diabetes_x_test,diabetes_y_test)

0.47257544798227147