In [1]:
# Trimmed Mean
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
nifty = pd.read_csv('nifty.csv')

In [3]:
nifty.head()

          Date Open High Low    Close
0  13 Jan 2023    -    -   -  5471.21
1  12 Jan 2023    -    -   -  5419.30
2  11 Jan 2023    -    -   -  5393.94
3  10 Jan 2023    -    -   -  5328.66
4  09 Jan 2023    -    -   -  5380.38

In [4]:
print(f"the normal mean of close stock is {nifty['Close'].mean()}")

the normal mean of close stock is 5411.953018867925

In [7]:
# Let's trim 25% of the data
length = len(nifty['Close'])
print(length)

53

In [8]:
trim_per = 0.25
trim_len_to_remove = round(length*trim_per)
print(trim_len_to_remove)

13

In [9]:
# equal number of data - from top and from bottom
ele_to_rmv = round(int(trim_len_to_remove/2))

In [10]:
print(ele_to_rmv)

6

In [11]:
s6 = nifty['Close'].nsmallest(6)
l6 = nifty['Close'].nlargest(6)

In [12]:
print(s6)
print(l6)

39    5216.99
46    5227.89
50    5233.80
38    5250.37
37    5253.80
40    5263.11
Name: Close, dtype: float64
29    5642.35
22    5635.24
28    5626.37
26    5611.03
30    5597.40
23    5583.80
Name: Close, dtype: float64

In [13]:
update_nifty = nifty.drop([39,46,50,38,37,40,29,22,28,26,30,23],axis = 0)

In [14]:
update_nifty.head()

          Date Open High Low    Close
0  13 Jan 2023    -    -   -  5471.21
1  12 Jan 2023    -    -   -  5419.30
2  11 Jan 2023    -    -   -  5393.94
3  10 Jan 2023    -    -   -  5328.66
4  09 Jan 2023    -    -   -  5380.38

In [15]:
print(f"the normal mean of close stock is {nifty['Close'].mean()}")
print(f"the trimmed mean of close stock is {update_nifty['Close'].mean()}")

the normal mean of close stock is 5411.953018867925
the trimmed mean of close stock is 5407.106341463415

#### Sampling -

Sample is a subset of a larger dataset. 1000000 records you have in a dataset , 100 records would be the sample size.

In [16]:
# Sampling with replacement
# Sampling without replacement

Data = 600 footballers from fifa world cup
sample size = 4 footballer , 2 samples

#### Sampling with replacement

1st sample = bruno fernandez , saka , harry kane , leo messi
2nd sample = ronaldo , otamendi , leo messi , luka modric


#### Sampling without replacement

1st sample = bruno fernandez , saka , harry kane , leo messi
2nd sample = ronaldo , otamendi , ochoa , luka modric

#### Sampling Bias

In [20]:
# Employee Avg Salary
# 1000 employees 
# 1 Ceo (250000/month) , 2 Cfo (200000/month) , 4 business head (150000/month) 
# 993 associates (30000/month)

ceo = 250000
cfo = 200000
bz_head = 150000
associate = 30000

# sample size = 20
# random sampling 

sample_salary_total = (cfo*1)+(bz_head*2)+(associate*17)
salary_total =  (cfo*2)+(bz_head*4)+(associate*993)+(ceo*1) 
print(f'the sample avergae salary is {sample_salary_total/20}')
print(f'the population average salary is {salary_total/1000}')

the sample avergae salary is 50500.0
the population average salary is 31040.0

In [21]:
# the first mistake is selection bias
# the second mistake is outliers