#### Mean Absolute Deviation (MAD)

In [1]:
import pandas as pd
import numpy as np

In [14]:
score = pd.DataFrame(data =[['harry',68],
['larry',78],
['barry',88],
['carry',92],
['muarry',58]],columns=['name','score'])

In [15]:
score.head()

     name  score
0   harry     68
1   larry     78
2   barry     88
3   carry     92
4  muarry     58

In [16]:
score_avg = round(np.mean(score['score']))
print(score_avg)

77

In [19]:
diff_lst = []
for i in score.score:
    diff_lst.append(((score_avg-i))**2)

In [20]:
diff_lst

[81, 1, 121, 225, 361]

In [30]:
avg_diff_lst = round(np.mean(diff_lst))
print(round(np.sqrt(avg_diff_lst)))

13

In [13]:
print(round(score['score'].mad()))

11

C:\Users\sengu\AppData\Local\Temp\ipykernel_11224\3127164524.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  print(round(score['score'].mad()))

#### Standard Deviation
Used generally when the set of data is widely spread

In [31]:
import statistics
print(round(statistics.stdev(score['score'])))

14

#### Weighted Mean
Engg exam -
1.   Maths - 3
2.  Language - 1
3.  Physics - 4
4.  Literature - 2

In [51]:
eng_score = pd.DataFrame(data = [['x','maths',4,25],
['x','physics',3,28],
['x','language',1,85],
['x','literature',2,91]],
columns=['name','sub','weight','score'])

In [52]:
eng_score.head()

  name         sub  weight  score
0    x       maths       4     25
1    x     physics       3     28
2    x    language       1     85
3    x  literature       2     91

In [53]:
print(np.mean(eng_score['score']))

57.25

In [54]:
summation = sum(eng_score['weight']*eng_score['score'])
print(summation)

451

In [55]:
w_sum = sum(eng_score['weight'])
print(w_sum)

10

In [56]:
print(summation/w_sum)

45.1